@import '../../Styles/foundation/variables.scss';
@import '../../Styles/foundation/media-queries.scss';

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;

  border-right: 1px solid $neutral-300;
  background-color: $NAV_BG;
  box-shadow: $box-shadow-2;
  overflow-y: auto;
  overflow-x: visible;
  transition: width 0.2s;

  @include respond-above(sm) {
    justify-content: space-between;
  }

  @include respond-above(md) {
    position: relative;
    display: flex;
    width: $NAV_LG_WIDTH;
    box-shadow: inset -2px 0 4px -2px rgba(0, 0, 0, 0.1);
  }

  &.opened {
    @include respond-above(md) {
      display: flex;
      justify-content: space-between;
      width: $NAV_LG_WIDTH;
      height: 100%;
    }
  }
}

.main-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu-top {
  @include respond-above(sm) {
    overflow-y: auto;
  }
}

.main-menu-bottom {
  @include respond-above(sm) {
    border-top: 1px solid $NAV_BORDER_COLOR;
  }
}

.main-menu-title {
  color: $neutral-700;
  display: flex;
  font-weight: 700;
  border-bottom: 1px solid $NAV_BORDER_COLOR;

  @include respond-above(md) {
    display: flex;
  }
}
