@import '../../Styles/foundation/variables.scss';
@import '../../Styles/foundation/media-queries.scss';

$NAV_LG_WIDTH: 230px;
$NAV_BG: $white;
$NAV_BORDER_COLOR: $neutral-300;
$NAV_ITEM_HOVER: $neutral-200;

.main-menu {
  border-right: 1px solid $neutral-300;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $NAV_BG;
  transition: width 0.2s ease-out, transform 0.2s ease-out;
  width: 100%;
  overflow-y: auto;
  box-shadow: inset -2px 0 4px -2px rgba(0,0,0,.1);

  @include respond-above(md) {
    display: flex;
    justify-content: space-between;
    width: $NAV_LG_WIDTH;
    height: 100%;
  }

  &.opened {
    height: calc(100vh - 60px);
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1;

    @include respond-above(md) {
      display: flex;
      justify-content: space-between;
      width: $NAV_LG_WIDTH;
      height: 100%;
    }
  }
}

.main-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu-top {

  @include respond-above(md) {
    overflow-y: auto;
  }
}

.main-menu-bottom {
  @include respond-above(md) {
    border-top: 1px solid $NAV_BORDER_COLOR;
  }
}

.main-menu-title {
  color: $neutral-700;
  display: none;
  font-weight: 700;
  border-bottom: 1px solid $NAV_BORDER_COLOR;

  @include respond-above(md) {
    display: flex;
  }
}