@import '../../Styles/foundation/variables.scss';

.input {
  background: $INPUT_BG;
  border-radius: $INPUT_BORDER_RADIUS;
  border: $INPUT_BORDER;
  display: block;
  color: $INPUT_COLOR;
  width: 100%;
  max-width: 100%;
  transition: box-shadow 0.1s linear, background 0.1s linear,
    border 0.1s linear;

  &:focus {
    outline: 0;
    border: $INPUT_BORDER_FOCUS;
    box-shadow: $INPUT_FOCUS_SHADOW;
    z-index: 1;
  }

  &[disabled] {
    border: $INPUT_BORDER_DISABLED;
    transition: none;
    color: $INPUT_COLOR_DISABLED;
    cursor: not-allowed;
    box-shadow: none;
    background: $INPUT_BG_DISABLED;
  }

  &::placeholder {
    color: $INPUT_PLACEHOLDER_COLOR;
  }

  &::-ms-clear {
    display: none;
  }
}

// remove Chrome browser clear button
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.input-s {
  padding: $INPUT_PADDING_S;
  font-size: $INPUT_FONT_SIZE_S;
}

.input-m {
  padding: $INPUT_PADDING_M;
  font-size: $INPUT_FONT_SIZE_M;
  height: 34px;
}

.input-l {
  padding: $INPUT_PADDING_L;
  font-size: $INPUT_FONT_SIZE_L;
}

.input-prefix {
  background: $neutral-200;
  border-top-left-radius: $border-radius-1;
  border-bottom-left-radius: $border-radius-1;
  border: $INPUT_BORDER;
  border-right: none;
  color: inherit;
  flex: 0 0 auto;

  + .input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.input-suffix {
  background: $neutral-200;
  border-top-right-radius: $border-radius-1;
  border-bottom-right-radius: $border-radius-1;
  border: $INPUT_BORDER;
  flex: 0 0 auto;
  margin-left: -1px;
}

.input-error {
  background: $INPUT_BG_ERROR;
  border: $INPUT_BORDER_ERROR;

  &:first-child {
    border-right: none;
  }

  &:focus {
    outline: 0;
    background: $INPUT_BG;
    border: $INPUT_BORDER_ERROR;
    box-shadow: $INPUT_FOCUS_SHADOW;
  }
}

.input-clear-btn {
  position: absolute;
  right: $spacing-3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: $border-radius-circle;
  z-index: 1;

  color: $neutral-500;

  &:hover,
  &:focus {
    color: $neutral-600;
  }
}
