@use 'sass:math';
@import '../../../Styles/foundation/variables.scss';

$TOGGLE_WIDTH: 68px;
$TOGGLE_SWITCH_COLOR: white;
$TOGGLE_BG_OFF: $neutral-400;
$TOGGLE_BG_ON: $green;
$TOGGLE_BG_INVALID: $red;
$TOGGLE_COLOR_LEFT: white;
$TOGGLE_COLOR_RIGHT: white;
$TOGGLE_FONT_SIZE: $font-size-7;

.checkbox:focus ~ .checkbox-icon {
  color: $blue;
}

.toggle {
  vertical-align: middle;
  position: relative;

  &.invalid {
    .toggle-switch {
        border-color: $TOGGLE_BG_INVALID;
        background: $TOGGLE_BG_INVALID;
    }
  }

  .toggle-input {
    &:focus ~ label {
      .toggle-switch {
        &::after {
          box-shadow:
            inset 0 0 0 2px $TOGGLE_SWITCH_COLOR,
            inset 0 0 0 5px $TOGGLE_BG_OFF,
            0 3px 6px rgba(black, 0.3);
        }
      }
    }
    &:checked ~ label {
      .toggle-switch {
        background: $TOGGLE_BG_ON;
        border-color: $TOGGLE_BG_ON;
      }
    }
    &:checked {
      &:focus ~ label {
        .toggle-switch {
          &::after {
            box-shadow:
              inset 0 0 0 2px $TOGGLE_SWITCH_COLOR,
              inset 0 0 0 5px $TOGGLE_BG_ON,
              0 3px 6px rgba(black, 0.3);
          }
        }
      }
    }
  }

  .toggle-switch {
    width: $TOGGLE_WIDTH; height: math.div($TOGGLE_WIDTH, 2);
    background: $TOGGLE_BG_OFF;
    border-radius: math.div($TOGGLE_WIDTH, 4) + 2;
    &:after {
      background-color: $TOGGLE_SWITCH_COLOR;
      width: math.div($TOGGLE_WIDTH, 2) - 4; height: math.div($TOGGLE_WIDTH, 2) - 4;
    }
  }

  .toggle-text-left {
    font-size: $TOGGLE_FONT_SIZE;
    color: $TOGGLE_COLOR_LEFT;
  }

  .toggle-text-right {
    font-size: $TOGGLE_FONT_SIZE;
    color: $TOGGLE_COLOR_RIGHT;
  }

  [class^="toggle-text-"] {
    transition: opacity 0.2s, transform 0.2s;
    flex: 0 0 50%;
  }

  [class^="toggle-option-"]{
    transition-delay: 0.1s;
  }

  .toggle-text-left {
    opacity: 0;
  }
  .toggle-text-right {
    opacity: 1;
  }
  .toggle-input:checked ~ label {
    .toggle-text-left {
      opacity: 1;
    }
    .toggle-text-right {
      opacity: 0;
    }
  }
}

.toggle-input {
  &:checked {
    ~ label {
      .toggle-switch {
        &:after { transform: translate3d(112%,0,0); }
      }
    }
  }
  &[disabled] {
    ~ label {
      .toggle-switch {
        opacity: .5;
      }
    }
  }
}

.toggle-switch {
  transition: background 0.1s, border-color 0.1s;
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
  background-clip: padding-box;
  &::after {
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    transform: translate3d(0,0,0);
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(black, 0.3);
  }
}


