{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/transform-runtime"
  ],
  "ignore": [
    "**/*.test.js",
    "**/stories.js"
  ]
}
