.bg-neutral-100    { background: $neutral-100 }
.bg-neutral-200    { background: $neutral-200 }
.bg-neutral-300    { background: $neutral-300 }
.bg-neutral-400    { background: $neutral-400 }
.bg-neutral-500    { background: $neutral-500 }
.bg-neutral-600    { background: $neutral-600 }
.bg-neutral-700    { background: $neutral-700 }
.bg-neutral-800    { background: $neutral-800 }

.bg-blue-lighter   { background: $blue-lighter }
.bg-blue-light     { background: $blue-light }
.bg-blue           { background: $blue }
.bg-blue-dark      { background: $blue-dark }
.bg-blue-darker    { background: $blue-darker }

.bg-yellow-lighter { background: $yellow-lighter }
.bg-yellow-light   { background: $yellow-light }
.bg-yellow         { background: $yellow }
.bg-yellow-dark    { background: $yellow-dark }
.bg-yellow-darker  { background: $yellow-darker }

.bg-green-lighter  { background: $green-lighter }
.bg-green-light    { background: $green-light }
.bg-green          { background: $green }
.bg-green-dark     { background: $green-dark }
.bg-green-darker   { background: $green-darker }

.bg-red-lighter    { background: $red-lighter }
.bg-red-light      { background: $red-light }
.bg-red            { background: $red }
.bg-red-dark       { background: $red-dark }
.bg-red-darker     { background: $red-darker }

.bg-indigo-lighter { background: $indigo-lighter }
.bg-indigo-light   { background: $indigo-light }
.bg-indigo         { background: $indigo }
.bg-indigo-dark    { background: $indigo-dark }
.bg-indigo-darker  { background: $indigo-darker }

.bg-black          { background: $black }
.bg-black-90       { background: $black-90 }
.bg-black-80       { background: $black-80 }
.bg-black-70       { background: $black-70 }
.bg-black-60       { background: $black-60 }
.bg-black-50       { background: $black-50 }
.bg-black-40       { background: $black-40 }
.bg-black-30       { background: $black-30 }
.bg-black-20       { background: $black-20 }
.bg-black-10       { background: $black-10 }
.bg-black-05       { background: $black-05 }
.bg-black-025      { background: $black-025 }
.bg-black-0125     { background: $black-0125 }

.bg-white          { background: $white }
.bg-white-90       { background: $white-90 }
.bg-white-80       { background: $white-80 }
.bg-white-70       { background: $white-70 }
.bg-white-60       { background: $white-60 }
.bg-white-50       { background: $white-50 }
.bg-white-40       { background: $white-40 }
.bg-white-30       { background: $white-30 }
.bg-white-20       { background: $white-20 }
.bg-white-10       { background: $white-10 }
.bg-white-05       { background: $white-05 }
.bg-white-025      { background: $white-025 }
.bg-white-0125     { background: $white-0125 }

.bg-transparent     { background: transparent }

.bg-white-hover:hover,
.bg-white-hover:focus,
.bg-white-hover:focus-within  { background: $white }

.bg-blue-lighter-hover:hover,
.bg-blue-lighter-hover:focus,
.bg-blue-lighter-hover:focus-within  { background: $blue-lighter }
.bg-green-lighter-hover:hover,
.bg-green-lighter-hover:focus,
.bg-green-lighter-hover:focus-within       { background: $green-lighter }
.bg-yellow-lighter-hover:hover,
.bg-yellow-lighter-hover:focus,
.bg-yellow-lighter-hover:focus-within      { background: $yellow-lighter }
.bg-red-lighter-hover:hover,
.bg-red-lighter-hover:focus,
.bg-red-lighter-hover:focus-within         { background: $red-lighter }
.bg-indigo-lighter-hover:hover,
.bg-indigo-lighter-hover:focus,
.bg-indigo-lighter-hover:focus-within      { background: $indigo-lighter }

.bg-neutral-100-hover:hover,
.bg-neutral-100-hover:focus,
.bg-neutral-100-hover:focus-within    { background: $neutral-100 }
.bg-neutral-200-hover:hover,
.bg-neutral-200-hover:focus,
.bg-neutral-200-hover:focus-within    { background: $neutral-200 }
.bg-neutral-300-hover:hover,
.bg-neutral-300-hover:focus,
.bg-neutral-300-hover:focus-within    { background: $neutral-300 }
.bg-neutral-400-hover:hover,
.bg-neutral-400-hover:focus,
.bg-neutral-400-hover:focus-within    { background: $neutral-400 }
.bg-neutral-500-hover:hover,
.bg-neutral-500-hover:focus,
.bg-neutral-500-hover:focus-within    { background: $neutral-500 }
.bg-neutral-600-hover:hover,
.bg-neutral-600-hover:focus,
.bg-neutral-600-hover:focus-within    { background: $neutral-600 }
.bg-neutral-700-hover:hover,
.bg-neutral-700-hover:focus,
.bg-neutral-700-hover:focus-within    { background: $neutral-700 }
.bg-neutral-800-hover:hover,
.bg-neutral-800-hover:focus,
.bg-neutral-800-hover:focus-within    { background: $neutral-800 }

.bg-hover { transition: background-color .2s linear, box-shadow .2s linear;}

.neutral-100    { color: $neutral-100 }
.neutral-200    { color: $neutral-200 }
.neutral-300    { color: $neutral-300 }
.neutral-400    { color: $neutral-400 }
.neutral-500    { color: $neutral-500 }
.neutral-600    { color: $neutral-600 }
.neutral-700    { color: $neutral-700 }
.neutral-800    { color: $neutral-800 }

.blue-lighter   { color: $blue-lighter }
.blue-light     { color: $blue-light }
.blue           { color: $blue }
.blue-dark      { color: $blue-dark }
.blue-darker    { color: $blue-darker }

.yellow-lighter { color: $yellow-lighter }
.yellow-light   { color: $yellow-light }
.yellow         { color: $yellow }
.yellow-dark    { color: $yellow-dark }
.yellow-darker  { color: $yellow-darker }

.green-lighter  { color: $green-lighter }
.green-light    { color: $green-light }
.green          { color: $green }
.green-dark     { color: $green-dark }
.green-darker   { color: $green-darker }

.red-lighter    { color: $red-lighter }
.red-light      { color: $red-light }
.red            { color: $red }
.red-dark       { color: $red-dark }
.red-darker     { color: $red-darker }

.indigo-lighter { color: $indigo-lighter }
.indigo-light   { color: $indigo-light }
.indigo         { color: $indigo }
.indigo-dark    { color: $indigo-dark }
.indigo-darker  { color: $indigo-darker }

.black          { color: $black }
.black-90       { color: $black-90 }
.black-80       { color: $black-80 }
.black-70       { color: $black-70 }
.black-60       { color: $black-60 }
.black-50       { color: $black-50 }
.black-40       { color: $black-40 }
.black-30       { color: $black-30 }
.black-20       { color: $black-20 }
.black-10       { color: $black-10 }
.black-05       { color: $black-05 }
.black-025      { color: $black-025 }
.black-0125     { color: $black-0125 }

.white          { color: $white }
.white-90       { color: $white-90 }
.white-80       { color: $white-80 }
.white-70       { color: $white-70 }
.white-60       { color: $white-60 }
.white-50       { color: $white-50 }
.white-40       { color: $white-40 }
.white-30       { color: $white-30 }
.white-20       { color: $white-20 }
.white-10       { color: $white-10 }
.white-05       { color: $white-05 }
.white-025      { color: $white-025 }
.white-0125     { color: $white-0125 }

.neutral-100-hover:hover    { color: $neutral-100 }
.neutral-200-hover:hover    { color: $neutral-200 }
.neutral-300-hover:hover    { color: $neutral-300 }
.neutral-400-hover:hover    { color: $neutral-400 }
.neutral-500-hover:hover    { color: $neutral-500 }
.neutral-600-hover:hover    { color: $neutral-600 }
.neutral-700-hover:hover    { color: $neutral-700 }
.neutral-800-hover:hover    { color: $neutral-800 }

.blue-lighter-hover:hover   { color: $blue-lighter }
.blue-light-hover:hover     { color: $blue-light }
.blue-hover:hover           { color: $blue }
.blue-dark-hover:hover      { color: $blue-dark }
.blue-darker-hover:hover    { color: $blue-darker }

.yellow-lighter-hover:hover { color: $yellow-lighter }
.yellow-light-hover:hover   { color: $yellow-light }
.yellow-hover:hover         { color: $yellow }
.yellow-dark-hover:hover    { color: $yellow-dark }
.yellow-darker-hover:hover  { color: $yellow-darker }

.green-lighter-hover:hover  { color: $green-lighter }
.green-light-hover:hover    { color: $green-light }
.green-hover:hover          { color: $green }
.green-dark-hover:hover     { color: $green-dark }
.green-darker-hover:hover   { color: $green-darker }

.red-lighter-hover:hover    { color: $red-lighter }
.red-light-hover:hover      { color: $red-light }
.red-hover:hover            { color: $red }
.red-dark-hover:hover       { color: $red-dark }
.red-darker-hover:hover     { color: $red-darker }

.indigo-lighter-hover:hover { color: $indigo-lighter }
.indigo-light-hover:hover   { color: $indigo-light }
.indigo-hover:hover         { color: $indigo }
.indigo-dark-hover:hover    { color: $indigo-dark }
.indigo-darker-hover:hover  { color: $indigo-darker }
