.h1 {    height: $height-1; }
.h2 {    height: $height-2; }
.h3 {    height: $height-3; }
.h4 {    height: $height-4; }
.h5 {    height: $height-5; }

.h-10 {  height:  10%; }
.h-20 {  height:  20%; }
.h-25 {  height:  25%; }
.h-30 {  height:  30%; }
.h-33 {  height:  33%; }
.h-34 {  height:  34%; }
.h-40 {  height:  40%; }
.h-50 {  height:  50%; }
.h-60 {  height:  60%; }
.h-70 {  height:  70%; }
.h-75 {  height:  75%; }
.h-80 {  height:  80%; }
.h-90 {  height:  90%; }
.h-100 { height: 100%; }

@include respond-above(sm) {
  .h1-ns {    height: $height-1; }
  .h2-ns {    height: $height-2; }
  .h3-ns {    height: $height-3; }
  .h4-ns {    height: $height-4; }
  .h5-ns {    height: $height-5; }

  .h-10-ns {  height:  10%; }
  .h-20-ns {  height:  20%; }
  .h-25-ns {  height:  25%; }
  .h-30-ns {  height:  30%; }
  .h-33-ns {  height:  33%; }
  .h-34-ns {  height:  34%; }
  .h-40-ns {  height:  40%; }
  .h-50-ns {  height:  50%; }
  .h-60-ns {  height:  60%; }
  .h-70-ns {  height:  70%; }
  .h-75-ns {  height:  75%; }
  .h-80-ns {  height:  80%; }
  .h-90-ns {  height:  90%; }
  .h-100-ns { height: 100%; }
}

@include respond-above(md) {
  .h1-m {    height: $height-1; }
  .h2-m {    height: $height-2; }
  .h3-m {    height: $height-3; }
  .h4-m {    height: $height-4; }
  .h5-m {    height: $height-5; }

  .h-10-m {  height:  10%; }
  .h-20-m {  height:  20%; }
  .h-25-m {  height:  25%; }
  .h-30-m {  height:  30%; }
  .h-33-m {  height:  33%; }
  .h-34-m {  height:  34%; }
  .h-40-m {  height:  40%; }
  .h-50-m {  height:  50%; }
  .h-60-m {  height:  60%; }
  .h-70-m {  height:  70%; }
  .h-75-m {  height:  75%; }
  .h-80-m {  height:  80%; }
  .h-90-m {  height:  90%; }
  .h-100-m { height: 100%; }
}

@include respond-above(lg) {
  .h1-l {    height: $height-1; }
  .h2-l {    height: $height-2; }
  .h3-l {    height: $height-3; }
  .h4-l {    height: $height-4; }
  .h5-l {    height: $height-5; }

  .h-10-l {  height:  10%; }
  .h-20-l {  height:  20%; }
  .h-25-l {  height:  25%; }
  .h-30-l {  height:  30%; }
  .h-33-l {  height:  33%; }
  .h-34-l {  height:  34%; }
  .h-40-l {  height:  40%; }
  .h-50-l {  height:  50%; }
  .h-60-l {  height:  60%; }
  .h-70-l {  height:  70%; }
  .h-75-l {  height:  75%; }
  .h-80-l {  height:  80%; }
  .h-90-l {  height:  90%; }
  .h-100-l { height: 100%; }
}
