html {
  font-size: 16px;
  position: relative;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $neutral-100;
  color: $neutral-600;
  font-family: $sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}

input, textarea, select, button {
  font-family: $sans-serif;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}
