// BORDERS
$border-radius-none: 0;
$border-radius-1: .125rem;      /* 2px */
$border-radius-2: .25rem;       /* 4px */
$border-radius-3: .5rem;        /* 8px */
$border-radius-4: .75rem;       /* 12px */
$border-radius-5: 1rem;         /* 16px */
$border-radius-circle: 100%;
$border-radius-pill: 9999px;

$border-width-none: 0;
$border-width-1: .125rem;
$border-width-2: .25rem;
$border-width-3: .5rem;
$border-width-4: 1rem;
$border-width-5: 2rem;

// BOX SHADOWS
$box-shadow-1: 0 1px 3px 0 rgba( 0, 0, 0, 0.2 );
$box-shadow-2: 0 2px 2px 0 rgba(0,0,0,.1);
$box-shadow-3: 0 2px 10px rgba(0,0,0,.3);

// BREAKPOINTS
$breakpoints: (
  sm: 30rem,
  md: 60rem,
  lg: 90rem
);

// TYPOGRAPHY
$sans-serif:
                'Inter',
                -apple-system, BlinkMacSystemFont,
                'avenir next', avenir,
                helvetica, 'helvetica neue',
                ubuntu,
                roboto,
                noto,
                'segoe ui',
                arial,
                sans-serif;

$font-size-1: 3rem;
$font-size-2: 2.25rem;
$font-size-3: 1.5rem;
$font-size-4: 1.25rem;
$font-size-5: 1rem;
$font-size-6: .875rem;
$font-size-7: .75rem;

$line-height-solid: 1;
$line-height-title: 1.25;
$line-height-copy: 1.5;

$letter-spacing-tight:-.05em;
$letter-spacing-1:.1em;
$letter-spacing-2:.25em;

// COLORS
$brand-orange: #F04E23;
  
$neutral-100: #FAFBFB;
$neutral-200: #F4F6F8;
$neutral-300: #DFE3E8;
$neutral-400: #C5CDD5;
$neutral-500: #929EAB;
$neutral-600: #647481;
$neutral-700: #464F5B;
$neutral-800: #222B36;

$blue-lighter: #EEF5FF;
$blue-light: #B6D2F7;
$blue: #2F80ED;
$blue-dark: #1C4D90;
$blue-darker: #0D2648;

$yellow-lighter: #FEF9EB;
$yellow-light: #FFE39C;
$yellow: #FBC029;
$yellow-dark: #A67F19;
$yellow-darker: #5A4009;

$green-lighter: #EBFEED;
$green-light: #C3F3C9;
$green: #50B25A;
$green-dark: #33773A;
$green-darker: #1B3E1F;

$red-lighter: #FDE9E8;
$red-light: #FED0CB;
$red: #DE3618;
$red-dark: #A42710;
$red-darker: #370C04;

$indigo-lighter: #EEEAFD;
$indigo-light: #AD9BF8;
$indigo: #5823F0;
$indigo-dark: #451BBC;
$indigo-darker: #270F6C;

$transparent:transparent;

$black: #000;
$black-90: rgba(0,0,0,.9);
$black-80: rgba(0,0,0,.8);
$black-70: rgba(0,0,0,.7);
$black-60: rgba(0,0,0,.6);
$black-50: rgba(0,0,0,.5);
$black-40: rgba(0,0,0,.4);
$black-30: rgba(0,0,0,.3);
$black-20: rgba(0,0,0,.2);
$black-10: rgba(0,0,0,.1);
$black-05: rgba(0,0,0,.05);
$black-025: rgba(0,0,0,.025);
$black-0125: rgba(0,0,0,.0125);

$white: #fff;
$white-90: rgba(255,255,255,.9);
$white-80: rgba(255,255,255,.8);
$white-70: rgba(255,255,255,.7);
$white-60: rgba(255,255,255,.6);
$white-50: rgba(255,255,255,.5);
$white-40: rgba(255,255,255,.4);
$white-30: rgba(255,255,255,.3);
$white-20: rgba(255,255,255,.2);
$white-10: rgba(255,255,255,.1);
$white-05: rgba(255,255,255,.05);
$white-025: rgba(255,255,255,.025);
$white-0125: rgba(255,255,255,.0125);


/* legacy gray colors. most likely these shouldn't be used.
use the neutrals instead */
$gray-100: #f4f4f4;
$gray-200: #eee;
$gray-300: #ccc;
$gray-400: #aaa;
$gray-500: #999;
$gray-600: #777;
$gray-700: #555;
$gray-800: #333;
$gray-900: #111;
$near-black: #111111;
$dark-gray:#333333;
$mid-gray:#555555;
$gray: #777777;
$silver: #999999;
$light-silver: #aaaaaa;
$moon-gray: #cccccc;
$light-gray: #eeeeee;
$near-white: #f4f4f4;
/* end legacy colors */

// SPACING
$spacing-0: 0;         /* 0px */
$spacing-1: .25rem;    /* 4px */
$spacing-2: .5rem;     /* 8px */
$spacing-3: .75rem;    /* 12px */
$spacing-4: 1rem;      /* 16px */
$spacing-5: 1.5rem;    /* 24px */
$spacing-6: 2rem;      /* 32px */
$spacing-7: 4rem;      /* 64px */
$spacing-8: 8rem;      /* 128px */

// SIZING
$height-1: 1rem;       /* 16px */
$height-2: 2rem;       /* 32px */
$height-3: 4rem;       /* 64px */
$height-4: 8rem;       /* 128px */
$height-5: 16rem;      /* 256px */

$width-1: 1rem;       /* 16px */
$width-2: 2rem;       /* 32px */
$width-3: 4rem;       /* 64px */
$width-4: 8rem;       /* 128px */
$width-5: 16rem;      /* 256px */
$width-6: 32rem;      /* 512px */
$width-7: 48rem;      /* 768px */
$width-8: 64rem;      /* 1,024px */
$width-9: 96rem;      /* 1,536px */
