$sans-serif:
                'lato',
                -apple-system, BlinkMacSystemFont,
                'avenir next', avenir,
                helvetica, 'helvetica neue',
                ubuntu,
                roboto,
                noto,
                'segoe ui',
                arial,
                sans-serif;

$font-size-1: 3rem;
$font-size-2: 2.25rem;
$font-size-3: 1.5rem;
$font-size-4: 1.25rem;
$font-size-5: 1rem;
$font-size-6: .875rem;
$font-size-7: .75rem;

$line-height-solid: 1;
$line-height-title: 1.25;
$line-height-copy: 1.5;

$letter-spacing-tight:-.05em;
$letter-spacing-1:.1em;
$letter-spacing-2:.25em;
