@import '../../Styles/foundation/variables.scss';

.list {
  margin: 0;
  list-style: disc outside none;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-ordered {
  list-style: decimal outside none;
}
