@import '../../Styles/foundation/variables.scss';

.text-container {
  line-height: $line-height-copy;
  > *:not(:first-child) {
    margin-top: $spacing-4;
  }
}

.text-container-tight {
  line-height: $line-height-solid;
  > *:not(:first-child) {
    margin-top: $spacing-2;
  }
}
