@import '../../Styles/foundation/variables.scss';
@import '../../Styles/foundation/media-queries.scss';

.frame {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "nav"
    "main";
  grid-template-rows: 60px 0 auto;
  position: relative;
  overflow: none;

  @include respond-above(md) {
    grid-template-columns: 230px auto;
    grid-template-areas: "nav main";
    grid-template-rows: auto;
  }
}

.navigation {
  grid-area: nav;
  overflow: auto;
}

.skip {
  position: fixed;
  z-index: 2;
  top: $spacing-1;
  left: $spacing-1;
  opacity: 0;
  pointer-events: none;
  &.focused {
    pointer-events: all;
    opacity: 1;
  }
}

main {
  grid-area: main;
  overflow: auto;
}

header {
  background: $white;
  border-bottom: 1px solid $neutral-300;
  box-shadow: $box-shadow-1;
  display: flex;
  font-weight: 700;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  padding: 0 $spacing-4;
  z-index: 1;

  @include respond-above(md) {
    display: none;
  }
}