@import '../../Styles/foundation/variables.scss';
@import '../../Styles/foundation/media-queries.scss';

$FRAME_HEADER_HEIGHT: 60px;

.frame {
  display: grid;
  height: 100vh;
  position: relative;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: $FRAME_HEADER_HEIGHT 0 auto;
  position: relative;
  overflow: hidden;

  @include respond-above(md) {
    grid-template-columns: $NAV_LG_WIDTH auto;
    grid-template-areas: 'nav main';
    grid-template-rows: auto;
  }
}

.navigation {
  grid-area: nav;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 310px;
  width: 100%;
  z-index: $z-nav;

  animation: slideInLeft 0.2s ease-out;

  &.open {
    display: block;
  }

  @include respond-above(md) {
    display: block;
    position: relative;
    left: 0;
    animation-name: none;
  }
}

.skip {
  position: fixed;
  z-index: $z-skip;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  &.focused {
    pointer-events: all;
    opacity: 1;
  }
}

main {
  grid-area: main;
  overflow: auto;
  height: calc(100vh - 60px);
  -webkit-overflow-scrolling: touch;

  @include respond-above(md) {
    height: auto;
  }
}

.frame-header {
  background: $white;
  border-bottom: 1px solid $neutral-300;
  box-shadow: $box-shadow-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  padding: 0 $spacing-4;

  @include respond-above(md) {
    display: none;
  }
}

.frame-close-nav {
  position: absolute;
  top: 0;
  left: 100%;
  margin: $spacing-3;

  background: $neutral-700;
  border-radius: $border-radius-circle;
  color: $neutral-300;

  &:focus,
  &:hover {
    background: $neutral-700;
    color: $neutral-100;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }
}

.frame-tenant-menu-container {
  z-index: $z-tenant-menu;
}
