@import '../../../Styles/foundation';

$NAV_BG: $white;
$NAV_BORDER_COLOR: $neutral-300;
$NAV_ITEM_HOVER: $neutral-200;
$NAV_TRANSITION_TIME: .2s;
$NAV_TRANSITION_EASING: linear;

.main-menu-item-container {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  position: relative;
  height: 100%;

  &.active {
    .main-menu-item {
      background: $NAV_ITEM_HOVER;
    }

    .sub-menu-items {
      border-bottom: 1px solid $NAV_BORDER_COLOR;
      // used for css transition. set this to height greater than what we expect it to ever be
      max-height: 800px; 
    }
  }

  &.selected {
    .main-menu-item {
      background: $NAV_ITEM_HOVER;
      box-shadow: inset 5px 0 0 $brand-orange;
    }

    .sub-menu-items {
      border-bottom: 1px solid $NAV_BORDER_COLOR;
      // used for css transition. set this to height greater than what we expect it to ever be
      max-height: 800px;
    }
  }

  // don't automatically show the popout menu at this viewport size
  &.selected:not(.active) {
    @include respond-between(sm, md) {
      .sub-menu-items {
        display: none;
      }
    }
  }
}

.main-menu-item {
  background: transparent;
  border: none;
  font-size: $font-size-5;
  border-bottom: 1px solid $NAV_BORDER_COLOR;
  color: $neutral-700;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: $spacing-3 $spacing-6;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:focus {
    background: $NAV_ITEM_HOVER;
    outline: 0;
  }

  &:hover {
    background: $NAV_ITEM_HOVER;
  }

  // https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
  > * {
    pointer-events: none;
  }
  
  @include respond-between(sm, md) {
    font-size: $font-size-6;
    justify-content: center;
    padding-bottom: $spacing-4;
    padding-top: $spacing-4;
    text-align: center;
  }

  @include respond-above(md) {
    font-size: $font-size-5;
  }
}

.main-menu-item-collapse {
  font-size: $font-size-7;
  color: $red;
  background: $red-lighter;
  
  @include respond-between(sm, md) {
    display: none;
  }
}

.sub-menu-items {
  max-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height $NAV_TRANSITION_TIME $NAV_TRANSITION_EASING;

  @include respond-between(sm, md) {
    background: $white;
    border-bottom: none;
    box-shadow: $box-shadow-1;
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    transition: opacity $NAV_TRANSITION_TIME $NAV_TRANSITION_EASING;
  }

  @include respond-above(md) {
    position: relative;
    left: 0;
    width: 100%;
    box-shadow: none;
    background: transparent;
    transition: max-height $NAV_TRANSITION_TIME $NAV_TRANSITION_EASING;
  }
}

.sub-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 2.25rem;
  padding: $spacing-2 $spacing-6;
  color: $neutral-700;
  font-size: $font-size-6;
  transition: background $NAV_TRANSITION_TIME $NAV_TRANSITION_EASING;

  &:hover {
    background-color: $NAV_ITEM_HOVER;
  }
}
