@import '../../Styles/foundation/variables';
@import '../../Styles/foundation/color';

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-overlay {
  border-radius: $border-radius-2;
  margin-top: $spacing-1;
  box-shadow: $box-shadow-2;
  z-index: $z-overlay;
  min-width: $spacing-8;
  max-width: 300px;
  overflow: hidden;
  background: $white;
}

.dropdown-item {
  border: none;
  border-radius: 0;
  display: block;
  font-weight: 400;
  width: 100%;
  background: transparent;
  padding: $spacing-3 $spacing-4;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    @extend .bg-blue-lighter-hover;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.dropdown-toggle {
  &:focus {
    outline: 0;
  }
}

.dropdown-item-group {
  &:last-child {
    margin-bottom: 0;
  }
}
