@import '../../Styles/foundation/variables.scss';

.btn-group {
  display: flex;
  flex-direction: row;
  position: relative;
}

.btn-group-item:not(:last-child) {
  margin-right: $spacing-2;
}

.btn-toolbar {
  display: flex;
  flex-direction: row;
  position: relative;
}

.btn-toolbar-item {
  margin-right: -1px;

  .btn {
    &:hover,
    &:focus {
      z-index: 1;
    }
  }

  &:not(:last-child) {
    .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &:not(:first-child) {
    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.btn-group-fullwidth {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: $border-radius-2;
  width: 100%;

  .btn-group-item,
  .btn-toolbar-item {
    flex: 1;
  }
}
