.styleguide__buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.styleguide__buttons:not(:first-child) {
  margin-top: 2rem;
}

.styleguide__buttons .btn {
  margin-right: 0.5rem;
}

.styleguide__frame {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-y: auto;
}

.styleguide__mainmenu {
  min-height: 250px;
  margin-right: 1rem;
  overflow: hidden;
}

.styleguide__icons .__icon {
  display: inline-block;
  width: 140px;
  text-align: center;
  word-break: break-all;
  vertical-align: top;
  border: solid 1px #eee;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.styleguide__callout {
  background: #fef9eb;
  border-radius: 4px;
  border: 1px solid #ffe39c;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem 0.5rem;
}

.styleguide__menubutton {
  margin-bottom: 1rem;
}
