.styleguide__buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.styleguide__buttons .btn {
  margin-right: .5rem;
}

.styleguide__icons .__icon {
  display: inline-block;
  width: 140px;
  text-align: center;
  word-break: break-all;
  vertical-align: top;
  border: solid 1px #eee;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}