@import '../../Styles/foundation/variables.scss';

.overlay {
  position: fixed;
  z-index: $z-overlay;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: $black-60;
  opacity: 1;
  will-change: opacity;
  touch-action: none;

  animation: fadeIn 0.2s 1 forwards;
}
