@import '../../../Styles/foundation';

$NAV_BG: $white;
$NAV_BORDER_COLOR: $neutral-300;
$NAV_ITEM_HOVER: $neutral-200;
$NAV_TRANSITION_TIME: .2s;
$NAV_TRANSITION_EASING: linear;
$NAV_HIGHLIGHT: $brand-orange;

.main-menu-item-container {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  position: relative;
  height: 100%;

  &.open {
    .main-menu-item {
      background: $NAV_ITEM_HOVER;
    }
  }

  &.active {
    .main-menu-item {
      background: $NAV_ITEM_HOVER;
      box-shadow: inset 5px 0 0 $NAV_HIGHLIGHT;
    }
  }

  .sub-menu-item {
    &.active {
      background: $NAV_ITEM_HOVER;
      transition: box-shadow $NAV_TRANSITION_TIME $NAV_TRANSITION_EASING;
      box-shadow: inset 5px 0 0 $NAV_HIGHLIGHT;
    }
  }

  &.aux-menu .main-menu-item {
    background: transparent;
    border: none;
    font-size: $font-size-5;
    border-top: 1px solid $NAV_BORDER_COLOR;
    color: $neutral-700;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: $spacing-3 $spacing-5;
    position: relative;
    text-decoration: none;
    width: 100%;

    &:focus {
      background: $NAV_ITEM_HOVER;
      outline: 0;
    }

    &:hover {
      background: $NAV_ITEM_HOVER;
    }
  }
}

.main-menu-item {
  background: transparent;
  border: none;
  font-size: $font-size-5;
  border-bottom: 1px solid $NAV_BORDER_COLOR;
  color: $neutral-700;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: $spacing-3 $spacing-6;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:focus {
    background: $NAV_ITEM_HOVER;
    outline: 0;
  }

  &:hover {
    background: $NAV_ITEM_HOVER;
  }

  // https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
  > * {
    pointer-events: none;
  }

  @include respond-above(md) {
    font-size: $font-size-5;
  }
}

.main-menu-item-collapse {
  .closed {
    transform: rotate(0deg);
    // looks weird to rotate when slide isn't working
    // transition: transform .3s linear;
  }

  .opened {
    transform: rotate(180deg);
    // transition: transform .3s linear;
  }
}

.sub-menu-items {
  max-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @include respond-above(md) {
    position: relative;
    left: 0;
    width: 100%;
    box-shadow: none;
    background: transparent;
  }

  &.opened {
    border-bottom: 1px solid $NAV_BORDER_COLOR;
    // used for css transition. set this to height greater than what we expect it to ever be
    max-height: 800px;
  }
}

.sub-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 2.25rem;
  padding: $spacing-2 $spacing-6;
  color: $neutral-700;
  font-size: $font-size-6;
  transition: background $NAV_TRANSITION_TIME $NAV_TRANSITION_EASING;

  &:hover {
    background-color: $NAV_ITEM_HOVER;
  }
}
