name: Release a new version of Pebble
on:
  push:
    tags: 'v*'
jobs:
   deploy:
    name: deploy documentation site
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        run: yarn install
      - name: build documentation site
        run: yarn styleguide:build
      - name: deploy js files
        run: aws s3 sync styleguide s3://${{ secrets.AWS_BUCKET_NAME }} --cache-control max-age=2592000 --exclude service-worker.js --exclude index.html
      - name: deploy service-worker.js
        run: aws s3 cp styleguide/service-worker.js s3://${{ secrets.AWS_BUCKET_NAME }}/service-worker.js --metadata-directive REPLACE --cache-control max-age=0,must-revalidate --content-type application/javascript
      - name: deploy index.html
        run: aws s3 cp styleguide/index.html s3://${{ secrets.AWS_BUCKET_NAME }}/index.html --metadata-directive REPLACE --cache-control max-age=0,must-revalidate --content-type text/html
      - name: Publish to NPM
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
          npm publish --tag next
      - name: Calculate version
        id: get_version
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
          echo ::set-output name=VERSION_WITHOUT_V::${GITHUB_REF/refs\/tags\/v/}
      - name: Notify Slack
        uses: pullreminders/slack-action@master
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"CQ9AG10AC\",\"text\":\":shipit: ${{ steps.get_version.outputs.VERSION }} of Pebble has been released!\n<https://pebble.istreamplanet.net/|Documentation> | <https://www.npmjs.com/package/@istreamplanet/pebble/v/${{ steps.get_version.outputs.VERSION_WITHOUT_V }}|NPM>\"}'
